@CHARSET "ISO-8859-1";
body{
	background-color: rgb(140,120,250);
}  
 .button {  
	background: #00FFFF;   
	font-size: 20px;
	border-radius: 12px;  
	transition: all 2s;
	cursor: pointer;  
	margin: 7px;
	text-align: center;
}
 .button:hover {
	background-color: #FF0000;
	padding-right: = 25px;
	
}
ul{
    list-style-type: none;
}
.linkB{
     background: none;
     border: none;
     color: #0065ff;
     text-decoration: underline;
     cursor: pointer;     
}
